    {%load static%}
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <title>LISTELOG</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css"%}">
        <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        {%block head%}
        {%endblock head%}
      </head>
      <body>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <a href="/" class="navbar-brand">LISTELOG</a>
          <ul class="navbar-nav">
              <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link">About</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                        {%if user.is_authenticated%}
                        <li class="nav-item"><a href="/logout" class="nav-link">se deconnecter</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Options</a>
                                <div class="dropdown-menu">
                                  {% if user.bdechoisi == None %}
                                    <a href="/ajoutbde" class="dropdown-item">crée Asso'</a>
                                  {%else%} 
                                    <a href="/monbde" class="dropdown-item">Mon Asso'</a>
                                    <a href="/bde/membre/{{user.username}}" class="dropdown-item">Mon Compte asso'</a>
                                    <a href="/bde/tresorerie" class="dropdown-item">Tresorerie</a>
                                    <a href="/rooms/bde" class="dropdown-item">Messagerie</a>
                                  {%endif%} 
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Parametres Compte</a>
                              <div class="dropdown-menu">
                                    <a href="/user/{{user.username}}" class="dropdown-item">Mon Compte</a>
                                    <a href="/Passwordreinit" class="dropdown-item">Changer Mot de passe</a>
                                    <a href="/surete" class="dropdown-item">Desactiver Compte</a>
                              </div>
                            </li>
                        <li class="nav-item"><a class="nav-link" href="/user/{{user.username}}"><img src="{{user.image.url}}" width="70px" height="70px"></a></li>
                        {%else%}
                        <li class="nav-item"><a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span>Se connecter</a></li>
                        <li class="nav-item"><a class="nav-link" href="/signup"><span class="glyphicon glyphicon-user"></span>s'inscrire</a></li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Aide</a>
                        <div class="dropdown-menu">
                              <a href="/renvoitoken/" class="dropdown-item">renvoyer le mail d'inscription</a>
                        </div>
                        </li>
                        {%endif%}
              {%block list%}
              {%endblock list%}
      </nav>
      <div>
          {%block content%}
          {%endblock content%}
      </div>
      
      </body>
      </html>